<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

<!---
    <h1>Bee Learning</h1>
    <p>The best spelling bee game on the internet to play!</p>
-->

    <link rel="stylesheet" href="App\static\style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

{% extends "layout.html" %}
{% block title %}Bee Learning{% endblock %}
{% block page %}Bee Learning{% endblock %}

{{ super() }}

{% block content %}

<body style="background: #fff59e" >
    <div class="container text-center">
        <h1 class="mt-5"> Bee Learning</h1>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <h3>Select a category</h3>
                <form class="mt-5">
                   
                    <a href="App\templates\difficulty.html" id=" btnword "type="button" class="btn btn-primary" style="margin-bottom: 20px;">
                        
                        Pokemon
                    </button></a> <br> 
                    <button id=" btnword "type="button" class="btn btn-primary" style="margin-bottom: 20px;">
                        Places
                    </button><br>
                    <button id=" btnword "type="button" class="btn btn-primary" style="margin-bottom: 20px;">
                       Random Words
                    </button><br>
                    <button id=" btnword "type="button" class="btn btn-primary" style="margin-bottom: 20px;">
                        See all Words
                     </button>
                </form>
            </div>
        </div>

    </div>
    
</body>
{% endblock %}


</html>