{% extends "layout.html" %}
{% block title %}Bee Learning{% endblock %}
{% block page %}Bee Learning{% endblock %}

{{ super() }}

{% block content %}
<!---
    <h1>Bee Learning</h1>
    <p>The best spelling bee game on the internet to play!</p>
-->
<head>
    <link rel="stylesheet" href="App\static\style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body style="background: #fff59e" >
    <div class="container text-center">
        <h1 class="mt-5 mb-5"> Bee Learning</h1>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <h3>Select a category</h3>
                <form>
                    
                    <button id=" btnword "type="button" class="btn btn-primary" style="margin-bottom: 20px;">
                        Pokemon
                    </button> <br> 
                    <button id=" btnword "type="button" class="btn btn-primary" style="margin-bottom: 20px;">
                        Places
                    </button><br>
                    <button id=" btnword "type="button" class="btn btn-primary" style="margin-bottom: 20px;">
                       Random Words
                    </button><br>
                    <a href="/wordlist"
                    <button id=" btnword "type="button" class="btn btn-primary" style="margin-bottom: 20px;">
                        See all Words
                     </button>
                    </a>
                </form>
            </div>
        </div>
         <!--difficulty-->
        <div class="row mt-5">
            <div class="col-md-6 mx-auto">
                <h3>Select a difficulty</h3>
                <form>
                    
                    <button id=" btnword "type="button" class="btn btn-primary" style="margin-bottom: 20px;">
                        
                        Easy
                    </button><br> 
                    <button id=" btnword "type="button" class="btn btn-primary" style="margin-bottom: 20px;">
                        Medium
                    </button><br>
                    <button id=" btnword "type="button" class="btn btn-primary" style="margin-bottom: 20px;">
                       Hard
                    </button><br>
                    
                </form>
            </div>
        </div>
           <!--timer-->
        <div class="row mt-5">
            <div class="col-md-6 mx-auto">
                <h3>Select a timer</h3>
                <form>
                    
                    <button id=" btnword "type="button" class="btn btn-primary" style="margin-bottom: 20px;">
                        
                        3 minutes
                    </button><br> 
                    <button id=" btnword "type="button" class="btn btn-primary" style="margin-bottom: 20px;">
                       5 minutes
                    </button><br>
                    <button id=" btnword "type="button" class="btn btn-primary" style="margin-bottom: 20px;">
                       10 minutes
                    </button><br>
                    <button id=" btnword "type="button" class="btn btn-primary" style="margin-bottom: 20px;">
                        No timer
                     </button><br>
                    
                </form>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-6 mx-auto">
                <h3>Start game</h3>
                <form>
                    <a href="/play"
                    <button id=" btnword "type="button" class="mt -5 btn btn-primary" style="margin-bottom: 20px;">
                        
                        Start Game
                    </button>
                </a>
                </form>
            </div>
        </div>

    </div>
    
</body>
{% endblock %}